body{
    background-color:  hsl(30, 38%, 92%);
    place-content: center;
    display: flex;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
}
.no{
    display: flex;
    background-color: white;
    border-radius: 2%;
    width: 60%;
    height: 360px;
}
.nah{
    padding: 15px;
}
img{
    max-width: 50%;
    border-radius: 2%;
}
.nope{
    width: 50%;
    border-radius: 5px;
}
.never{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nuh-uh{
    text-align: center;
    
    align-items: center;
    height: 10%;
    margin-bottom: 14px;
}
.add {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    width: 100px;
    padding: 10px 70px 10px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
p{
    margin-bottom: 0%;
}
.assignment{
  color: hsl(158, 36%, 37%);
}