body{
    background-color:  hsl(30, 38%, 92%);
    place-content: center;
    display: flex;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 550px) {
.no{
        display: flex;
        flex-direction: column;
        max-width: 100%;
}
.nah{
    max-width: 100%;
}
.based{
    max-width: 100%;
}
.no{
    display: flex;
    background-color: white;
    border-radius: 2%;
    width: 55%;
}
.nah{
    padding: 15px;
}
img{
    max-width: 50%;
    border-radius: 2%;
}
.nope{
    width: 50%;
    border-radius: 5px;
}
.never{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nuh-uh{
    text-align: center;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 14px;
}
.add {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    width: 100px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
p{
    margin-bottom: 0%;
}
.assignment{
  color: hsl(158, 36%, 37%);
}
    .icon{
    margin-right: 5px;
}
.nah h6{
    margin: 0;
    padding-bottom: 15px;
}
.nah h1{
    margin: 0;
    padding-bottom: 15px;
}
.nah p{
    padding-bottom: 10px;
    margin: 0;
}
.never p{
    padding-bottom: 15px;
}
